@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
			"Microsoft YaHei", sans-serif;
	}
	@supports (font-variation-settings: normal) {
		:root {
			font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI",
				"PingFang SC", "Microsoft YaHei", sans-serif;
		}
	}
	body {
		@apply bg-slate-100 text-slate-900;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.amount,
	.number,
	td {
		font-variant-numeric: tabular-nums;
		letter-spacing: -0.01em;
	}
}

